*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li,
menu{
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* UTILITIES */

.flex{
    display: flex;
}

.flex-end{
    justify-content: flex-end;
}

.justify-end{
    justify-content: flex-end;
}

.align-end{
    align-self: flex-end;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

/* LAYOUT */

.container{
    width: 80%;
    margin: 30px auto;
}

/* WEBAPP */

#webapp{
    height: 100vh;
}


/* SIDE BAR*/
.side-bar{
    background-color: #FFDDDC;
    color: white;
    font-weight: 700;
    width: 250px;
    height: calc(100vh - 100px);
    flex-shrink: 0;
}

.side-bar .logo{
    display: block;
}

.side-bar-menu,
.login-btn{
    padding: 20px;
}

.side-bar-menu li{
    padding:8px 0;
    line-height: 30px;
}

.side-bar-menu li:hover{
    color: #A57B69;
}

.side-bar-menu li a{
    display: block;
}

/* MAIN */

main{
    height: calc(100vh - 100px);
    overflow: hidden;
}

.main-content{
    flex-grow: 1;
}

.main-content .subscribe-btn{
    padding: 10px;
    background-color: #A57B69;
}

.main-content .subscribe-btn button{
    border: none;
    border-radius: 50px;
    padding: 10px;
}
/* SECTION */

.section__title{
    color:#A57B69;
}

.section__content{
    display: flex;
    flex-wrap: wrap;
}

.section__content .travelcards{
    width: calc(2*100%/12);
    padding: 10px;
}

.section__content .travelcard__title{
    margin-bottom: 5px;
    text-align: center;
}

.section__pricelist span{
    line-height: 12px;
    font-weight: 700;
    color: #FFDDDC;;
}

.section__pricelist span:hover{
    color: #A57B69;
    cursor: pointer;
}

/* FOOTER */

.main-footer{
    height: 100px;
    width: 100%;
    background-color: #A57B69;
    padding: 20px;
    color: white;
}

.main-footer-menu li,
.main-footer-social li{
    padding: 5px 5px;
}

.main-footer-menu li img{
    display: block;
}

.main-footer-menu li{
    width: 100px;
}

.main-footer__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



